<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <p class="card-text">Login</p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label "CPF" %>
                <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>

              <%= f.submit "Autenticar", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


